#box {
  height: 20%;
  width: 20%;
  background-color: blue;
  position: fixed;
}

#box:active {
  box-shadow: 10px 10px 5px grey;
}

.delete {
  margin-left: 20px;
}

.delete:hover {
  cursor: pointer;;
}

.table {
  border: 3px solid black;
  border-spacing: 0.1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-style: oblique;
}

.table-row {
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.table-row:active {
  animation-name: fadeInOut;
  animation-duration: 1s;
}

@keyframes fadeInOut {
  from{
    opacity: 1.0;
  }
  to{
    opacity: 0.0;
  }
}

.table-row:hover {
  cursor: pointer;
}

.odd {
  background: #f2f2f2;
}

.even {
  background: #e6ffe6;
}
